@charset "UTF-8";
.sidebar {
  display: block;
  position: absolute;
  width: 188px;
  left: 0;
  top: 0;
  bottom: 0;
  background: #324157;
  padding-top: 34px;
}
.sidebar .div_imglogo img {
  display: block;
  margin: 0 auto;
}
.sidebar .div_imglogo p {
  text-align: center;
  margin-bottom: 38px;
  line-height: 55px;
  font-size: 20px;
  color: #949aa6;
}
.sidebar > ul {
  height: 100%;
}
.el-menu li {
  font-size: 16px;
}
.el-menu-item [class^=el-icon-] {
  margin: 0 26px;
}
